<header class="app__nav">
<h1 class="app__nav-heading">Employee Manager</h1>
<nav class="app__nav-links">
  <button class="app__nav-btn"><a class="app__nav-link" routerLink="/new" routerLinkActive="app__nav-link--active" >Add +</a></button>
  <button class="app__nav-btn"> <a class="app__nav-link" routerLink="/list" routerLinkActive="test" routerLinkActive="app__nav-link--active" >View all</a></button>
</nav>


  <label class="hamburger__label"  for="nav">
    <div class="hamburger__line"></div>
  </label>
  

</header>

<input #checkbox class="hamburger" type="checkbox" name="nav" id="nav">
<nav class="app__nav-mobile">
    <a (click)="handleClick(checkbox)" class="app__nav-link-mobile" routerLink="/new" routerLinkActive="app__nav-link--active-mobile" >Add +</a>
    <a (click)="handleClick(checkbox)" class="app__nav-link-mobile" routerLink="/list" routerLinkActive="test" routerLinkActive="app__nav-link--active-mobile" >View all</a>
</nav>



<div class="app__page">
  <router-outlet></router-outlet>
</div>

